In [1]:
d = {
    'name':'simran','id':101,'course' :'python'
}

In [2]:
d

{'name': 'simran', 'id': 101, 'course': 'python'}

In [3]:
d.items()

dict_items([('name', 'simran'), ('id', 101), ('course', 'python')])

In [4]:
a,b,c = [1,2,3]

In [5]:
a

1

In [6]:
b

2

In [7]:
c

3

In [8]:
for key,value in d.items():
    print(key,"=",value)

name = simran
id = 101
course = python

In [9]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [11]:
for key,val in d.items():
    print(val)

simran
101
python

In [14]:
for v1,v2,v3 in [(1,2,3),("hello","hi","bye"),"str",{2,3,4}]:
    print(f"Value1 : {v1}, Value2 : {v2}, Value3 : {v3}")

Value1 : 1, Value2 : 2, Value3 : 3
Value1 : hello, Value2 : hi, Value3 : bye
Value1 : s, Value2 : t, Value3 : r
Value1 : 2, Value2 : 3, Value3 : 4

In [13]:
for i in "string":
    print(i)

s
t
r
i
n
g

In [15]:
for v1,v2,v3 in [(1,2,3),("hello","hi","bye"),"str",{'key1':'value1','k2':'v2','k3':'v3'}]:
    print(f"Value1 : {v1}, Value2 : {v2}, Value3 : {v3}")

Value1 : 1, Value2 : 2, Value3 : 3
Value1 : hello, Value2 : hi, Value3 : bye
Value1 : s, Value2 : t, Value3 : r
Value1 : key1, Value2 : k2, Value3 : k3

In [17]:
l1 = ["one","two","three"]
l = enumerate(l1)
print(type(l))
for i,j in l:
    print(i,"=",j)

<class 'enumerate'>
0 = one
1 = two
2 = three

In [18]:
l = [2,3,4,5,6,7,8,9,10]
for i in l:
    if i%2!=0:
        continue
    print(i)
else:
    print("Done....")

2
4
6
8
10
Done....

In [19]:
l = [2,3,4,5,6,7,8,9,10]
for i in l:
    if i%2:
        continue
    print(i)
else:
    print("Done....")

2
4
6
8
10
Done....

In [20]:
l1

['one', 'two', 'three']

In [22]:
print(*l1)

one two three

In [23]:
t1 = (1,2,3,4,5,)

In [24]:
print(*t1)

1 2 3 4 5

In [25]:
r = range(10)

In [26]:
print(type(r))

<class 'range'>

In [27]:
r

range(0, 10)

In [28]:
print(*r)

0 1 2 3 4 5 6 7 8 9

In [29]:
print(*range(10,20))

10 11 12 13 14 15 16 17 18 19

In [30]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [31]:
l1

['one', 'two', 'three']

In [32]:
for i in range(len(l1)):
    l1.append(i)
print(l1)

['one', 'two', 'three', 0, 1, 2]

In [34]:
print(*range(-5,-10,-1))

-5 -6 -7 -8 -9

In [35]:
print(*range(10,20,2))

10 12 14 16 18

In [37]:
for i in range(10,50,2):
    print(i,end=",")

10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,

In [38]:
print(*range(-10,-100,-2))

-10 -12 -14 -16 -18 -20 -22 -24 -26 -28 -30 -32 -34 -36 -38 -40 -42 -44 -46 -48 -50 -52 -54 -56 -58 -60 -62 -64 -66 -68 -70 -72 -74 -76 -78 -80 -82 -84 -86 -88 -90 -92 -94 -96 -98

In [40]:
print(*range(100,0,-1))

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [42]:
l1

['one', 'two', 'three', 0, 1, 2]

In [50]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

2
1
0
three
two
one

In [49]:
l1

['one', 'two', 'three', 0, 1, 2]

In [52]:
n = int(input("Enter any  number : "))
num = n
f = 1
while n>0:
    f = f * n
    n -= 1
print(f"The factorial of {num} is {f}")

Enter any  number : 7
The factorial of 7 is 5040

In [53]:
n = int(input("Enter any value : "))
f = 1
for i in range(1,n+1):
    f *= i
print("The factorial is {}".format(f))

Enter any value : 5
The factorial is 120

In [54]:
l1

['one', 'two', 'three', 0, 1, 2]

In [55]:
l = []
for i in range(10):
    if i%2 == 0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [60]:
n = int(input("Enter any value : "))
a = 0
b = 1
print(a,b,end=",")
for i in range(n):
    a,b = b,a+b
    print(b,end=",")

Enter any value : 5
0 1,1,2,3,5,8,

In [62]:
l = [0,1]
n = 5
for i in range(2,n):
    l.append(l[i-2]+l[i-1])  #i=2-->l[0]+l[1]  #i=3-->l[1]+l[2]
print(l)

[0, 1, 1, 2, 3]

In [63]:
from random import randint
l=[]
for i in range(10):
    l.append(randint(0,i))
print(l)

[0, 1, 0, 2, 1, 0, 3, 0, 6, 4]

In [71]:
a=("Check",)*3
print(a)

('Check', 'Check', 'Check')

In [65]:
l = [1,2,3]*3

In [66]:
l

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [67]:
l = ["hello"]*3

In [68]:
l

['hello', 'hello', 'hello']

In [69]:
s = 1,2

In [70]:
type(s)

tuple

In [72]:
l = [1,2,3,4]
sum(l)

10

In [73]:
a=(2,3,4)
print(sum(a,3))

12

In [75]:
sum([],2)

2

In [76]:
a = ('check',)
n = 2
for i in range(0,n):
    a = (a,)
    print(a)

(('check',),)
((('check',),),)