In [1]:
class Employee:
    
    def setit(self,name,id1):
        self.empname = name
        self.empid = id1
        
    def getit(self):
        print("The name of employee is : ",self.empname)
        print("The id of employee is : ",self.empid)

In [3]:
e1 = Employee()

In [4]:
e1.setit("simran",10)

In [5]:
e2 = Employee()

In [6]:
e2.setit("mahima",20)

In [7]:
e1.getit()

The name of employee is :  simran
The id of employee is :  10

In [8]:
e2.getit()

The name of employee is :  mahima
The id of employee is :  20

In [9]:
class Employee:
    count = 0
    
    def setit(self,name,id1):
        self.empname = name
        self.empid = id1
        Employee.count += 1
        
    def getit(self):
        print("The name of employee is : ",self.empname)
        print("The id of employee is : ",self.empid)
        
        
    def total():
        print("The total number of employees are : ",Employee.count)

In [10]:
e1 = Employee()
e2 = Employee()

In [11]:
e1.setit("simran",10)
e2.setit("mahima",20)

In [12]:
e1.total()

TypeError: total() takes 0 positional arguments but 1 was given

In [13]:
Employee.total()

The total number of employees are :  2

In [14]:
e1.count

2

In [15]:
e2.count

2

In [16]:
class Employee:
    count = 0
    
    def setit(self,name,id1):
        self.empname = name
        self.empid = id1
        self.count += 1
        
    def getit(self):
        print("The name of employee is : ",self.empname)
        print("The id of employee is : ",self.empid)
        
        
    def total():
        print("The total number of employees are : ",Employee.count)

In [17]:
e1 = Employee()
e1.setit("simran",10)

e2 = Employee()
e2.setit("raj",25)

In [18]:
Employee.total()

The total number of employees are :  0

In [19]:
e1.count

1

In [20]:
e2.count

1

In [21]:
import inspect

In [22]:
inspect.ismethod(e1.setit)

True

In [23]:
inspect.ismethod(Employee.total)

False

In [24]:
inspect.isfunction(Employee.total)

True

In [25]:
l = [12,34,56,78]

In [26]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [32]:
class Employee:
    count = 0
    
    def __init__(self,name,id1):  #constructor
        self.empname = name
        self.empid = id1
        Employee.count += 1
        
    def getit(self):
        print("The name of employee is : ",self.empname)
        print("The id of employee is : ",self.empid)
        
        
    def total():
        print("The total number of employees are : ",Employee.count)

In [33]:
e1 = Employee()  #call __init__

TypeError: __init__() missing 2 required positional arguments: 'name' and 'id1'

In [34]:
e1 = Employee("simran",1)

In [35]:
e2 = Employee("nikunj",2)

In [36]:
e1.getit()

The name of employee is :  simran
The id of employee is :  1

In [37]:
e2.getit()

The name of employee is :  nikunj
The id of employee is :  2

In [38]:
Employee.total()

The total number of employees are :  2

In [48]:
def f(x):
    print(x**2)

In [49]:
def f(x,y):
    print(x+y)

In [50]:
f(12)

TypeError: f() missing 1 required positional argument: 'y'

In [ ]:
f(10,23)

In [41]:
a = 10

In [42]:
a

10

In [43]:
a = 20

In [44]:
a

20

In [45]:
a = 30

In [46]:
a = 40

In [47]:
a

40

In [79]:
class Instance:
    count = 0
    def __init__(self):
        Instance.count += 1
        
    def __del__(self):  #destructor
        Instance.count -= 1
        del self
        
    def total():
        print("The total number of instances are : ",Instance.count)

In [80]:
obj1 = Instance()
obj2 = Instance()
obj3 = Instance()

In [81]:
Instance.total()

The total number of instances are :  3

In [82]:
del obj1 #__del__

In [83]:
Instance.total()

The total number of instances are :  2

In [67]:
obj1

NameError: name 'obj1' is not defined

In [84]:
del obj2

In [85]:
Instance.total()

The total number of instances are :  1

In [86]:
del obj3

In [87]:
Instance.total()

The total number of instances are :  0

In [88]:
from time import sleep

In [96]:
class Student:
    count = 0
    def __init__(self,name,course,age):
        self.name = name
        self.course = course
        self.age = age
    
    def get(self):
        print("Course : ",self.course)
        print("Age : ",self.age)
        print("Name : ",self.name)
        
    def __del__(self):
        print("Deleting name...")
        del self.name
        
        sleep(2)
        print("Deleting age...")
        del self.age
        
        sleep(2)
        print('Deleting course...')
        del self.course
        
        sleep(2)
        print("Deleting self...")
        del self

In [97]:
s1 = Student("mahima","python",23)
s2 = Student("Raj","data science",22)
s3 = Student("Dharmendra","ml",24)

Deleting name...
Deleting age...
Deleting name...
Deleting name...

Exception ignored in: <function Student.__del__ at 0x000001C49E793F78>
Traceback (most recent call last):
  File "<ipython-input-89-d70d575b2198>", line 23, in __del__
AttributeError: name

Deleting age...
Deleting name...

Exception ignored in: <function Student.__del__ at 0x000001C49E793F78>
Traceback (most recent call last):
  File "<ipython-input-89-d70d575b2198>", line 23, in __del__
AttributeError: name

In [98]:
s1.get()

Course :  python
Age :  23
Name :  mahima

In [99]:
s2.get()

Course :  data science
Age :  22
Name :  Raj

In [100]:
s3.get()

Course :  ml
Age :  24
Name :  Dharmendra

In [101]:
del s1

Deleting name...
Deleting age...
Deleting course...
Deleting self...

In [102]:
s1.get()

NameError: name 's1' is not defined

In [103]:
s2.get()

Course :  data science
Age :  22
Name :  Raj

In [104]:
del s2.name

In [105]:
s2.age

22

In [106]:
s2.course

'data science'

In [107]:
s2.name

AttributeError: 'Student' object has no attribute 'name'

In [108]:
s2.name = "raj"

In [109]:
s2.name

'raj'