In [1]:
l = [
    ['Amaan','Ambika','Swapnil','Mehul'],
    [1001,1002,1003,1004],
    ['python','aws','cloud computing','data science'],
    [10000,12000,15000,12000]
]

In [2]:
print("1. Amaan\n2. Ambika\n3. Swapnil\n4. Mehul ")
name = input("Enter any name from above list: ").title()
index = l[0].index(name)
print("Roll no : ",l[1][index])
print("Course : ",l[2][index])
print("Amount : ",l[3][index])

1. Amaan
2. Ambika
3. Swapnil
4. Mehul
Enter any name from above list: amaan
Roll no :  1001
Course :  python
Amount :  10000

In [5]:
"amaan".title()

'Amaan'

In [8]:
s = "string"

In [10]:
n = id(s)

In [11]:
type(n)

int

In [12]:
n = str(n)

In [13]:
n

'2245767596272'

In [18]:
n[-1:-5:-1]

'2726'

# Tuple

In [19]:
t = 1,2,3

In [20]:
type(t)

tuple

In [21]:
t1 = (1,2,3)

In [22]:
type(t1)

tuple

In [23]:
t1 + t

(1, 2, 3, 1, 2, 3)

In [24]:
t1*2

(1, 2, 3, 1, 2, 3)

In [25]:
t1[0]

1

In [26]:
t1

(1, 2, 3)

In [27]:
t1[-1]

3

In [28]:
t1[::-1]

(3, 2, 1)

In [29]:
t1

(1, 2, 3)

In [31]:
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [32]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [43]:
t1 = t*2

In [34]:
t1

(1, 2, 3, 1, 2, 3)

In [39]:
t1.count(4)

0

In [40]:
t1.count(3)

2

In [41]:
t1.count(7)

0

In [42]:
t1.count(2)

2

In [44]:
print(t1.count(2))

2

In [45]:
t1.index(2)

1

In [46]:
s = "string"

In [48]:
s.getitem(2)

AttributeError: 'str' object has no attribute 'getitem'

# Dictionary

In [49]:
d = {'key':'value1','key2':'value2'}

In [50]:
type(d)

dict

In [51]:
d['key']

'value1'

In [3]:
d = {'key1':'value1','key2':{'number':101,'name':'simran'}}

In [54]:
d['key2']['name']

'simran'

In [55]:
d1 = {[1,2,3]:'simran'}

TypeError: unhashable type: 'list'

In [57]:
d1 = {(1,2,3):'simran'}

In [58]:
d1

{(1, 2, 3): 'simran'}

In [4]:
d

{'key1': 'value1', 'key2': {'number': 101, 'name': 'simran'}}

In [5]:
d['key1']

'value1'

In [6]:
d['key2']

{'number': 101, 'name': 'simran'}

In [7]:
d['key2'] = "simran"

In [8]:
d['key2']

'simran'

In [9]:
print(d['key3'])

KeyError: 'key3'

In [10]:
d['key3'] = "python"

In [11]:
l =[]

In [12]:
print(type(l))

<class 'list'>

In [13]:
l[0] = 10

IndexError: list assignment index out of range

In [14]:
d = {[1,2,3]:'marks',(1,2):'value2'}

TypeError: unhashable type: 'list'

In [15]:
d = {10:'science'}

In [16]:
d = dict([['key1','value1'],['key2','value2'],['key3','value3']])

In [17]:
d

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [20]:
key = d.keys()

In [22]:
for i in key:
    print(i)

key1
key2
key3

In [23]:
key = list(d.keys())

In [24]:
key

['key1', 'key2', 'key3']

In [26]:
list(d.values())

['value1', 'value2', 'value3']

In [27]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [28]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [29]:
d.clear()

In [30]:
d

{}

In [31]:
d = dict.fromkeys(['key1','key2','key3'],'Default')

In [32]:
d

{'key1': 'Default', 'key2': 'Default', 'key3': 'Default'}

In [33]:
d['key1'] = "jaipur"

In [34]:
d

{'key1': 'jaipur', 'key2': 'Default', 'key3': 'Default'}

In [35]:
d

{'key1': 'jaipur', 'key2': 'Default', 'key3': 'Default'}

In [36]:
d1 = {'city1':'jaipur','city2':'delhi','city3':'gurgaon'}

In [38]:
d1

{'city1': 'jaipur', 'city2': 'delhi', 'city3': 'gurgaon'}

In [39]:
d1.setdefault('city2','default')

'delhi'

In [40]:
d1

{'city1': 'jaipur', 'city2': 'delhi', 'city3': 'gurgaon'}

In [41]:
d1.setdefault('city4','default')

'default'

In [42]:
d1

{'city1': 'jaipur', 'city2': 'delhi', 'city3': 'gurgaon', 'city4': 'default'}

In [43]:
d1['default'] = 'noida'

In [44]:
d1

{'city1': 'jaipur',
 'city2': 'delhi',
 'city3': 'gurgaon',
 'city4': 'default',
 'default': 'noida'}

In [45]:
d1['city2'] = "indore"

In [46]:
d1

{'city1': 'jaipur',
 'city2': 'indore',
 'city3': 'gurgaon',
 'city4': 'default',
 'default': 'noida'}

In [47]:
d1 = {'name':'simran','rollno':1003,'phno':987654321}

In [48]:
d2 = {'course':'python','fees':10000,'discount':1000}

In [49]:
d1

{'name': 'simran', 'rollno': 1003, 'phno': 987654321}

In [50]:
d2

{'course': 'python', 'fees': 10000, 'discount': 1000}

In [51]:
d1.update(d2)

In [52]:
d1

{'name': 'simran',
 'rollno': 1003,
 'phno': 987654321,
 'course': 'python',
 'fees': 10000,
 'discount': 1000}

In [53]:
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [54]:
d1

{'name': 'simran',
 'rollno': 1003,
 'phno': 987654321,
 'course': 'python',
 'fees': 10000,
 'discount': 1000}

In [55]:
d1['name']

'simran'

In [57]:
d1.get('name')   #pass key as an argument

'simran'

In [59]:
d1.pop('name')

'simran'

In [60]:
d1

{'rollno': 1003,
 'phno': 987654321,
 'course': 'python',
 'fees': 10000,
 'discount': 1000}

In [61]:
d1.pop('fees')

10000

In [62]:
d1

{'rollno': 1003, 'phno': 987654321, 'course': 'python', 'discount': 1000}

In [63]:
d1

{'rollno': 1003, 'phno': 987654321, 'course': 'python', 'discount': 1000}

In [64]:
d2 = d1

In [65]:
d3 = d1.copy()

In [66]:
d1

{'rollno': 1003, 'phno': 987654321, 'course': 'python', 'discount': 1000}

In [67]:
d2

{'rollno': 1003, 'phno': 987654321, 'course': 'python', 'discount': 1000}

In [68]:
d3

{'rollno': 1003, 'phno': 987654321, 'course': 'python', 'discount': 1000}

In [69]:
print(id(d1))

1675112881992

In [71]:
print(id(d2))

1675112881992

In [72]:
print(id(d3))

1675113153304

In [73]:
d1['name'] = 'simran'

In [74]:
d1

{'rollno': 1003,
 'phno': 987654321,
 'course': 'python',
 'discount': 1000,
 'name': 'simran'}

In [75]:
d2

{'rollno': 1003,
 'phno': 987654321,
 'course': 'python',
 'discount': 1000,
 'name': 'simran'}

In [76]:
d3

{'rollno': 1003, 'phno': 987654321, 'course': 'python', 'discount': 1000}

In [87]:
trainers = { 
't1':{'name':'simran','course':['core python','advance python','data science'],'fees':[10000,10000,15000]},
't2':{'name':'manish','course':['python','ethical hacking'],'fees':[10000,10000]},
't3':{'name':'rajat','course':['aws','cloud computing',{'linux':['rhcsa','rhce']}],'fees':[12000,10000,10000]}
}

In [83]:
trainers['t2']['course'][1]

'ethical hacking'

In [85]:
trainers['t2']['fees'][1]

10000

In [92]:
trainers['t3']['course'][2]['linux'][1]

'rhce'

In [2]:
student = {
's1':{'name':'mahima','marks':{'science':{'phy':15,'chem':20,'bio':25},'maths':30,'english':25},'phno':[987642,12345]},
's2':{'name':'anshul','marks':{'science':{'phy':25,'chem':15,'bio':20},'maths':25,'english':30},'phno':[987653220]}
}

In [6]:
student['s1']['marks']['science']['bio']

25

In [11]:
student['s1']['marks']['english']

25