In [1]:
class One:
    def setit(self,name,age):
        self.name = name
        self.age = age
        
    def show(self):
        print("Name : ",self.name)
        print("Age : ",self.age)

In [2]:
obj = One()

In [3]:
obj.show()

AttributeError: 'One' object has no attribute 'name'

In [4]:
obj.setit("nikunj",25)

In [5]:
obj.show()

Name :  nikunj
Age :  25

In [7]:
obj2 = One()

In [8]:
obj.setit("mahima",21)

In [9]:
obj.name

'mahima'

In [10]:
obj.age

21

In [11]:
obj2.setit("rahul",22)

In [13]:
obj2.name

'rahul'

In [14]:
obj2.age

22

In [15]:
obj2.show()

Name :  rahul
Age :  22

In [16]:
obj.show()

Name :  mahima
Age :  21

In [17]:
obj3 = One()

In [18]:
obj3.show()

AttributeError: 'One' object has no attribute 'name'

In [20]:
class Student:
    def __init__(self,name,age,course,fees):
        self.name = name
        self.age = age
        self.course = course
        self.fees = fees
        
    def show(self):
        print("The name of student is : ",self.name)
        print("The age of student is : ",self.age)
        print("The course of student is : ",self.course)
        print("The fees of student is : ",self.fees)
    
    def change(self):
        self.course = input("Enter your new course : ")
        self.fees = input("Enter your new fees : ")

In [21]:
s1 = Student()

TypeError: __init__() missing 4 required positional arguments: 'name', 'age', 'course', and 'fees'

In [22]:
s1 = Student("mahima",21,"python",10000)
s2 = Student("rajeev",22,"aws",12000)

In [23]:
s1.show()

The name of student is :  mahima
The age of student is :  21
The course of student is :  python
The fees of student is :  10000

In [24]:
s2.show()

The name of student is :  rajeev
The age of student is :  22
The course of student is :  aws
The fees of student is :  12000

In [25]:
s1.change()

Enter your new course : cloud
Enter your new fees : 12000

In [26]:
s1.show()

The name of student is :  mahima
The age of student is :  21
The course of student is :  cloud
The fees of student is :  12000

In [28]:
s1.name

'mahima'