In [6]:
l = [
    ['Amaan','Ambika','Swapnil','Mehul'],
    [1001,1002,1003,1004],
    ['python','aws','cloud computing','data science'],
    [10000,12000,15000,12000]
]

In [7]:
print("1. Amaan\n2. Ambika\n3. Swapnil\n4. Mehul ")
name = input("Enter any name from above list: ").title()
index = l[0].index(name)
print("Roll no : ",l[1][index])
print("Course : ",l[2][index])
print("Amount : ",l[3][index])

1. Amaan
2. Ambika
3. Swapnil
4. Mehul
Enter any name from above list: amaan
Roll no :  1001
Course :  python
Amount :  10000

In [5]:
"amaan".title()

'Amaan'

In [8]:
s = "string"

In [10]:
n = id(s)

In [11]:
type(n)

int

In [12]:
n = str(n)

In [13]:
n

'2245767596272'

In [18]:
n[-1:-5:-1]

'2726'

# Tuple

In [19]:
t = 1,2,3

In [20]:
type(t)

tuple

In [21]:
t1 = (1,2,3)

In [22]:
type(t1)

tuple

In [23]:
t1 + t

(1, 2, 3, 1, 2, 3)

In [24]:
t1*2

(1, 2, 3, 1, 2, 3)

In [25]:
t1[0]

1

In [26]:
t1

(1, 2, 3)

In [27]:
t1[-1]

3

In [28]:
t1[::-1]

(3, 2, 1)

In [29]:
t1

(1, 2, 3)

In [31]:
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [32]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [43]:
t1 = t*2

In [34]:
t1

(1, 2, 3, 1, 2, 3)

In [39]:
t1.count(4)

0

In [40]:
t1.count(3)

2

In [41]:
t1.count(7)

0

In [42]:
t1.count(2)

2

In [44]:
print(t1.count(2))

2

In [45]:
t1.index(2)

1

In [46]:
s = "string"

In [48]:
s.getitem(2)

AttributeError: 'str' object has no attribute 'getitem'

# Dictionary

In [49]:
d = {'key':'value1','key2':'value2'}

In [50]:
type(d)

dict

In [51]:
d['key']

'value1'

In [52]:
d = {'key1':'value1','key2':{'number':101,'name':'simran'}}

In [54]:
d['key2']['name']

'simran'

In [55]:
d1 = {[1,2,3]:'simran'}

TypeError: unhashable type: 'list'

In [57]:
d1 = {(1,2,3):'simran'}

In [58]:
d1

{(1, 2, 3): 'simran'}

# Dictionary