In [1]:
x = 10

In [2]:
y = 5.5

In [3]:
z = 4+5j

In [4]:
type(x)

int

In [5]:
type(y)

float

In [6]:
type(z)

complex

In [7]:
x = 20

In [8]:
x

20

In [9]:
x = 10.5

In [11]:
print(type(x))

<class 'float'>

In [12]:
print("This is my first class")

This is my first class

In [13]:
print(type(z))

<class 'complex'>

In [14]:
l = []

In [15]:
print(type(l))

<class 'list'>

In [16]:
l = [10,20,30]

In [17]:
l1 = [10,30.5,"string",4+5j]

In [18]:
print(type(l1))

<class 'list'>

In [19]:
s = 'This is string'
s1 = "This is also string"
s3 = """This is triple quotes string"""

In [20]:
print(type(s))

<class 'str'>

In [21]:
print(type(s1))

<class 'str'>

In [22]:
print(type(s3))

<class 'str'>

In [23]:
s1 = "hello"

In [24]:
s2 = "world"

In [25]:
s1 + s2

'helloworld'

In [26]:
s1 + " " + s2

'hello world'

In [27]:
print(s1 + "\n" + s2)

hello
world

In [28]:
print(s1+"\t"+s2)

hello	world

In [29]:
print(s1+" this is my " + s2)

hello this is my world

In [30]:
s1 + 3

TypeError: can only concatenate str (not "int") to str

In [33]:
(s1 + " ")*10

'hello hello hello hello hello hello hello hello hello hello '