In [9]:
t = 1,2,5,4

In [10]:
type(t)

tuple

In [5]:
t = (1,2,3,4,)

In [6]:
t[0]

1

In [7]:
a = 10

In [8]:
type(a)

int

In [11]:
t = ("hello","world",1,2,3,5,10,5+6j)

In [12]:
t

('hello', 'world', 1, 2, 3, 5, 10, (5+6j))

In [13]:
type(t)

tuple

In [15]:
t[0] = "hi"

TypeError: 'tuple' object does not support item assignment

In [16]:
t

('hello', 'world', 1, 2, 3, 5, 10, (5+6j))

In [18]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [19]:
t

('hello', 'world', 1, 2, 3, 5, 10, (5+6j))

In [20]:
t.count("hello")

1

In [21]:
t.index(1)

2

## Dictionary

In [22]:
d = {'key':'value'}

In [23]:
type(d)

dict

In [24]:
d['key']

'value'

In [25]:
d[1] = "one"

In [26]:
d

{'key': 'value', 1: 'one'}

In [27]:
d[1]

'one'

In [28]:
d[[1,2,3]] = "listvalue"

TypeError: unhashable type: 'list'

In [29]:
d[(1,2,3)] = "tuplevalue"

In [30]:
d

{'key': 'value', 1: 'one', (1, 2, 3): 'tuplevalue'}

In [31]:
d[(1,2,3)]

'tuplevalue'

In [32]:
d.keys()

dict_keys(['key', 1, (1, 2, 3)])

In [33]:
d.values()

dict_values(['value', 'one', 'tuplevalue'])

In [34]:
list(d.keys())

['key', 1, (1, 2, 3)]

In [35]:
list(d.values())

['value', 'one', 'tuplevalue']

In [36]:
d.items()

dict_items([('key', 'value'), (1, 'one'), ((1, 2, 3), 'tuplevalue')])

In [37]:
d1 = dict([['key1','value1'],['key2','value2'],['key3','value3']])

In [38]:
d1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [39]:
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [40]:
d1['key1']

'value1'

In [41]:
d1['key1'] = "name"

In [42]:
d1

{'key1': 'name', 'key2': 'value2', 'key3': 'value3'}

In [43]:
d1.get('key1')

'name'

In [44]:
d1.get('key4')

In [45]:
d1

{'key1': 'name', 'key2': 'value2', 'key3': 'value3'}

In [46]:
d1

{'key1': 'name', 'key2': 'value2', 'key3': 'value3'}

In [47]:
d1.get('key4','default')

'default'

In [48]:
d1

{'key1': 'name', 'key2': 'value2', 'key3': 'value3'}

In [49]:
d = {}

In [55]:
d = d.fromkeys(['name','course','id'])

In [56]:
d

{'name': None, 'course': None, 'id': None}

In [57]:
d = d.fromkeys(['name','course','id'],'Default')

In [58]:
d

{'name': 'Default', 'course': 'Default', 'id': 'Default'}

In [59]:
d['name'] = "simran"

In [60]:
d

{'name': 'simran', 'course': 'Default', 'id': 'Default'}

In [61]:
id1 = int(input("Enter your id : "))
course = input("Enter your course : ")

d['course'] = course
d['id'] = id1

Enter your id : 1
Enter your course : python

In [62]:
d

{'name': 'simran', 'course': 'python', 'id': 1}

In [63]:
d.setdefault('name','default')

'simran'

In [64]:
d.setdefault('key','default')

'default'

In [65]:
d

{'name': 'simran', 'course': 'python', 'id': 1, 'key': 'default'}

In [66]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [67]:
d1

{'key1': 'name', 'key2': 'value2', 'key3': 'value3'}

In [69]:
d1.pop('key1')

'name'

In [70]:
d1

{'key2': 'value2', 'key3': 'value3'}

In [71]:
d

{'name': 'simran', 'course': 'python', 'id': 1, 'key': 'default'}

In [72]:
d.pop('key')

'default'

In [73]:
d

{'name': 'simran', 'course': 'python', 'id': 1}

In [74]:
d1 = {'fees':10000,'discount':1000}

In [75]:
d.update(d1)

In [76]:
d

{'name': 'simran',
 'course': 'python',
 'id': 1,
 'fees': 10000,
 'discount': 1000}

In [77]:
d.update(institute="grras")

In [78]:
d

{'name': 'simran',
 'course': 'python',
 'id': 1,
 'fees': 10000,
 'discount': 1000,
 'institute': 'grras'}

In [83]:
trainers = { 
't1':{'name':'simran','course':['core python','advance python','data science'],'fees':[10000,10000,15000]},
't2':{'name':'manish','course':['python','ethical hacking'],'fees':[10000,10000]},
't3':{'name':'rajat','course':['aws','cloud computing',{'linux':['rhcsa','rhce']}],'fees':[12000,10000,10000]}
}

In [79]:
d = {
    'name' : ['simran','anshul','manish'],
    'bal' : [10000,20000,30000]
}

In [81]:
d['name'][2]

'manish'

In [ ]:
t3['name']['course']['linux'][0]

In [84]:
trainers['t3']['course'][2]['linux'][0]

'rhcsa'

In [90]:
trainers['t3']['course'][2]['linux'][0]

'rhcsa'

In [91]:
d

{'name': ['simran', 'anshul', 'manish'], 'bal': [10000, 20000, 30000]}

In [92]:
d1

{'fees': 10000, 'discount': 1000}

In [94]:
d.popitem()

('bal', [10000, 20000, 30000])

In [95]:
d

{'name': ['simran', 'anshul', 'manish']}

In [96]:
d.items()

dict_items([('name', ['simran', 'anshul', 'manish'])])